pkg/aur/kotatogram-desktop/Catch2/
pkg/aur/kotatogram-desktop/GSL/
pkg/aur/kotatogram-desktop/crl/
pkg/aur/kotatogram-desktop/kdesktop/
pkg/aur/kotatogram-desktop/libtgvoip/
pkg/aur/kotatogram-desktop/lz4/
pkg/aur/kotatogram-desktop/rlottie/
pkg/aur/kotatogram-desktop/src/
pkg/aur/kotatogram-desktop/variant/
pkg/aur/kotatogram-desktop/xxHash/
